# AWS / S3
AWS_REGION=us-east-1
S3_BUCKET=replace-with-your-bucket

# Snowflake connection
SNOWFLAKE_ACCOUNT=xy12345.us-east-1
SNOWFLAKE_USER=DBT_USER
SNOWFLAKE_PASSWORD=replace-with-password
SNOWFLAKE_ROLE=TRANSFORMER
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=LAKEHOUSE
SNOWFLAKE_SCHEMA=RAW

# dbt runtime
DBT_TARGET=dev
