# Python/dbt
__pycache__/
*.pyc
.venv/

# dbt artifacts
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/

# Env files
.env
.env.local
.env.local.resolved

# OS/editor
.DS_Store
.vscode/
